
.pvClearFix:after { content: ""; display: table; clear: both; }

body { width: 220mm; margin: auto; font-size: 22px; font-family: 'Open Sans', serif; text-align: justify; }

h1 { text-align: center; font-size: 32px; font-family: "Cinzel"; font-weight: bolder; }
h2 { font-size: 20px; text-transform: uppercase; font-family: "Cinzel"; font-weight: lighter; margin-top: 36px; }
td {min-width: 100px; vertical-align: top; }

#contact { line-height: 1; }
.pubtitle { font-weight: bolder; margin-bottom: 0; }
.pubcoauthors { font-style: italic; margin: 0; }
.pubabstract { margin-top: 0; }
.right_note { font-size: 14px; text-align: right; }