
.pvClearFix:after { content: ""; display: table; clear: both; }

body { width: 270mm; margin: auto; }

h1 { text-align: center; font-size: 32px; font-family: "Cinzel"; font-weight: bolder; }
h2 { font-size: 20px; text-transform: uppercase; font-family: "Cinzel"; font-weight: lighter; }
li { margin: 14px 0; }

.col50 { float: left; width: 45%; line-height:1px; }
.pubtitle { font-weight: bolder; margin-bottom: 0; }
.pubcoauthors { font-style: italic; margin: 0; }
.pubabstract { margin-top: 0; }
.right_note { font-size: 14px; text-align: right; }